body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background-color: #bfe4ef26;
 	font-family: 'Oxygen', sans-serif;
}

.main{
 	margin-top: 70px;
}

h1.title {
	font-size: 50px;
	font-family: 'Passion One', cursive;
	font-weight: 400;
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

.shop_list_warpper{
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 5%;
  margin-top: 80px;
}
.shop_item{
  width: 20%;
  max-width: 250px;
  min-width: 100px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin: 0 2% 25px;
  border: 1px solid grey;
}
.shop_name{
  font-size: 16px;
  color: black;
  margin: 0;
  padding: 5px 0;
  font-family: sans-serif;
}
.shop_image_warpper{
  flex: 1;
}
.shop_image{
  width: 100%;
}
.button_group{
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}
.dislike-btn{
  background-color: red;
      margin: 0px 15px;
}

.like-btn{
  background-color: green;
      margin: 0px 15px;
}
